---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Title from "../components/Title.astro";
import About from "../components/About.astro";
import Competences from "../components/Competences.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Dilien Oeuvrard">
	<main>
		<section>
			<div class="glow-container"></div>
			<Menu />
			<Title />
		</section>
		<About />
		<Competences />
		<Contact />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.glow-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background: radial-gradient(
        circle at center,
        rgba(20, 184, 166, 0.15) 0%,
        rgba(20, 184, 166, 0.05) 30%,
        transparent 70%
      );
      animation: moveGlow 20s infinite alternate;
    }
</style>

<script>
document.addEventListener('scroll', function() {
    const sections = document.querySelectorAll('section');
    sections.forEach((section) => {
        const sectionTop = section.getBoundingClientRect().top;
        const windowHeight = window.innerHeight;

        if (sectionTop >= 0 && sectionTop < windowHeight) {
            section.classList.add('active');
        } else {
            section.classList.remove('active');
        }
    });
});

</script>
