<section
    id="skills"
    class="min-h-screen max-h-screen flex flex-col justify-center items-center py-10"
    id="competences"
>
    <div class="glow-container"></div>
    <h2 class="text-4xl font-bold mb-36">Mes Compétences</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="https://cdn-icons-png.flaticon.com/512/226/226777.png"
                    alt="Java"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Java
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Développement d'applications robustes avec Java</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/spring-3.svg"
                    alt="Spring"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Spring
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>
                    Framework Java pour créer des applications professionnelles
                </p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/C_Logo.png"
                    alt="C"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    C
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Programmation système et développement de logiciels</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/Python_Logo.webp"
                    alt="Python"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Python
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Développement de scripts et d'applications avec Python</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/C++_Logo.png"
                    alt="C++"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    C++
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Programmation orientée objet et développement de jeux</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/JS_Logo.png"
                    alt="JavaScript"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    JavaScript
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Développement interactif et dynamique avec JavaScript</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/Astro_Logo.png"
                    alt="Astro"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Astro
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Création de sites web performants avec Astro</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/Php_Logo.png"
                    alt="PHP"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    PHP
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Développement back-end avec PHP</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/Symfony_Logo.webp"
                    alt="Symfony"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Symfony
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Framework PHP pour créer des applications web</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/Scala_Logo.png"
                    alt="Scala"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Scala
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Programmation fonctionnelle et orientée objet avec Scala</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/BDD_Logo.png"
                    alt="Base de données"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Base de données
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Gestion et manipulation de données avec SQL</p>
            </div>
        </div>
        <div class="group relative cursor-pointer">
            <div
                class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-500 group-hover:scale-110 group-hover:bg-teal-500"
            >
                <img
                    src="../../icon/Network_Logo.png"
                    alt="Réseaux"
                    class="w-16 h-16 mx-auto mb-4 group-hover:opacity-70"
                />
                <h3
                    class="text-xl font-semibold text-center text-black group-hover:text-white"
                >
                    Réseaux
                </h3>
            </div>
            <div
                class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 bg-teal-600 bg-opacity-80 rounded-lg text-white text-center"
            >
                <p>Conception et gestion des réseaux informatiques</p>
            </div>
        </div>
    </div>
</section>

<style>
    .glow-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: radial-gradient(
            circle at center,
            rgba(20, 184, 166, 0.15) 0%,
            rgba(20, 184, 166, 0.05) 30%,
            transparent 70%
        );
        animation: moveGlow 20s infinite alternate;
    }
</style>
