<!-- Section Projets -->
<section id="projects" class="min-h-screen max-h-screen my-10 md:my-20 flex items-center">
    <div class="glow-container"></div>
    <div class="text-center w-full z-10">
        <h2 class="text-4xl font-bold mb-36 text-white-600">Mes Projets</h2>
        <div class="flex flex-col md:flex-row md:justify-center">
            <!-- Conteneur pour les projets -->
            <div class="flex flex-wrap justify-center">
                <!-- Projet 1 -->
                <div class="max-w-sm w-full bg-white rounded-lg overflow-hidden shadow-xl m-4 transition-transform duration-300 hover:scale-105 border-l-4 border-teal-500">
                    <div class="px-6 py-4 flex flex-col h-full">
                        <div class="font-bold text-xl text-black mb-2">GitClout</div>
                        <p class="text-gray-700 text-base mb-4 flex-grow">Projet d'application Front-end et Back-end. Fait pendant ma première année de Master.</p>
                        <a href="https://github.com/Dili3n/gitclout" class="text-teal-500 hover:text-teal-700 font-semibold inline-flex items-center">
                            <span class="material-icons mr-1">🠒</span>Voir le projet
                        </a>
                    </div>
                </div>

                <!-- Projet 2 -->
                <div class="max-w-sm w-full bg-white rounded-lg overflow-hidden shadow-xl m-4 transition-transform duration-300 hover:scale-105 border-l-4 border-blue-500">
                    <div class="px-6 py-4 flex flex-col h-full">
                        <div class="font-bold text-xl text-black mb-2">Snake</div>
                        <p class="text-gray-700 text-base mb-4 flex-grow">Projet fait en Python pendant ma première année d'étude. Utilisation d'une librairie graphique et mode ordinateur.</p>
                        <a href="https://github.com/Dili3n/Projet-Snake-FLTK" class="text-blue-500 hover:text-blue-700 font-semibold inline-flex items-center">
                            <span class="material-icons mr-1">🠒</span>Voir le projet
                        </a>
                    </div>
                </div>

                <!-- Projet 3 -->
                <div class="max-w-sm w-full bg-white rounded-lg overflow-hidden shadow-xl m-4 transition-transform duration-300 hover:scale-105 border-l-4 border-purple-500">
                    <div class="px-6 py-4 flex flex-col h-full">
                        <div class="font-bold text-xl text-black mb-2">Lost in Space</div>
                        <p class="text-gray-700 text-base mb-4 flex-grow">Projet en javascript pour reproduire le jeu Space Invaders.</p>
                        <a href="https://github.com/Dili3n/lost-in-space" class="text-purple-500 hover:text-purple-700 font-semibold inline-flex items-center">
                            <span class="material-icons mr-1">🠒</span>Voir le projet
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .glow-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background: radial-gradient(
            circle at center,
            rgba(20, 184, 166, 0.15) 0%,
            rgba(20, 184, 166, 0.05) 30%,
            transparent 70%
        );
        animation: moveGlow 20s infinite alternate;
    }
</style>