<!-- Importation de la police Caveat -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap"
    rel="stylesheet"
/>

<div class="flex flex-col items-center mt-36 text-center">
    <!-- Nom + Titre -->
    <h1 class="font-caveat text-8xl mb-4">Dilien Oeuvrard</h1>
    <span class="text-teal-500 text-5xl font-semibold mb-6"
        >Développeur Freelance</span
    >

    <!-- Description -->
    <p class="text-lg w-full max-w-md mb-8">
        Développeur Full stack, spécialisé en création d'applications
        performantes. Découvrez mon parcours et mes projets en me contactant ou
        en consultant mes réalisations sur <a
            href="https://www.malt.fr/profile/dilienoeuvrard"
            target="_blank"
            class="text-teal-500 hover:underline">Malt</a
        >.
    </p>

    <!-- Boutons -->
    <div class="flex space-x-4">
        <a
            href="mailto:contact@dilienoeuvrard.com"
            class="px-6 py-3 bg-teal-500 text-white font-medium rounded-full hover:bg-teal-600 transition-colors">
            Me contacter
        </a>

        <a
            href="#projects"
            class="px-6 py-3 bg-gray-800 text-white font-medium rounded-full hover:bg-gray-900 transition-colors"
            >Mes projets</a
        >
    </div>

    <!-- Section Où me trouver ? -->
    <h2 class="text-white-500 text-3xl font-semibold mt-36">Où me trouver ?</h2>
    <div class="flex flex-col md:flex-row items-center justify-center my-10">
        <!-- Lien LinkedIn -->
        <a
            href="https://www.linkedin.com/in/dilien"
            target="_blank"
            class="flex items-center space-x-3 text-lg text-white-800 hover:text-teal-500 transition-colors mx-6"
        >
            <svg
                class="w-8 h-8 fill-current text-blue-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
            >
                <path
                    d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 20h-3v-11h3v11zm-1.5-12.27c-.97 0-1.75-.78-1.75-1.73s.78-1.73 1.75-1.73 1.75.78 1.75 1.73-.78 1.73-1.75 1.73zm13.5 12.27h-3v-5.5c0-1.32-.03-3.03-1.85-3.03-1.85 0-2.13 1.44-2.13 2.93v5.6h-3v-11h2.88v1.5h.04c.4-.76 1.38-1.57 2.83-1.57 3.02 0 3.58 1.99 3.58 4.57v6.5z"
                ></path>
            </svg>
            <span>LinkedIn</span>
        </a>

        <!-- Lien Malt -->
        <a
            href="https://www.malt.fr/profile/dilienoeuvrard"
            target="_blank"
            class="flex items-center space-x-3 text-lg text-white-800 hover:text-teal-500 transition-colors mx-6 mt-4 md:mt-0"
        >
            <svg
                class="w-8 h-8 fill-current text-red-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
            >
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 17h-2v-2h2v2zm-2-4v-6h2v6h-2zm4 4h-2v-2h2v2zm0-4h-2v-6h2v6zm4 4h-2v-2h2v2zm0-4h-2v-6h2v6z"
                ></path>
            </svg>
            <span>Malt</span>
        </a>

        <!-- Lien CV -->
        <a
            href="/Resume_Dilien_Oeuvrard.pdf"
            download
            class="flex items-center space-x-3 text-lg text-white-800 hover:text-teal-500 transition-colors mx-6 mt-4 md:mt-0"
        >
            <svg
                class="w-8 h-8 fill-current text-gray-800"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
            >
                <path
                    d="M20 2h-8.586l-7.707 7.707c-.195.195-.293.451-.293.707v9.586c0 .553.447 1 1 1h14c.553 0 1-.447 1-1v-16c0-.553-.447-1-1-1zm-6 2.5v4h-4v-4h4zm-9 14.5v-7.586l5.293 5.293c.195.195.451.293.707.293h5.586v2h-11zm8.293-3.707l-5-5 1.414-1.414 5 5-1.414 1.414zm.707-6.793v-2h2v4h-2z"
                ></path>
            </svg>
            <span>Mon CV</span>
        </a>
    </div>
</div>

<!-- Styles personnalisés -->
<style>
    .font-caveat {
        font-family: "Caveat", cursive;
    }
</style>
