---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio professionnel en Développement informatique : développeur en freelance passionné par la création d'application web performantes. Contactez-moi pour des collaborations et opportunités."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="back-style"></div>
	</body>
</html>
<style is:global>
:root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        scroll-snap-type: y mandatory; /* Snap dans l'axe Y (vertical) */
        scroll-behavior: smooth; /* Défilement fluide */
        height: 100%;
        overflow-y: scroll;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
    body {
        scroll-snap-type: y mandatory;
        /* Utilisation d'un zoom adaptatif */
        zoom: 1; /* S'adapte à la mise à l'échelle de l'utilisateur */
    }
    section {
        scroll-snap-align: start;
        min-height: 100vh;
		max-height: 100vh;
        transition: transform 0.5s ease;
        transform: translateY(1px); /* Légèrement décalé vers le bas au départ */
    }

    section.active {
        transform: translateY(0); /* Remet à la position originale quand actif */
    }

    /* Animation du texte d'indication de scroll */
    #scroll-indicator span {
        font-size: 1.2rem;
        animation: fadeInOut 4s ease-in-out infinite;
    }

    @keyframes fadeInOut {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    /* Désactiver le snap et l'animation sur mobile */
    @media (max-width: 768px) {
        html {
            scroll-snap-type: none; /* Désactiver le snap */
        }
        section {
            transition: none; /* Désactiver les transitions */
            transform: none; /* Pas de translation initiale */
        }
        #scroll-indicator {
            display: none; /* Cacher l'indicateur sur mobile si nécessaire */
        }
    }
</style>
